.player{
    display: inline-block;
    margin-left: 5rem;
}

.score-board{
    font-size: 2rem;
    text-align: center;
}

.player-dice{
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
    margin-left: 2rem;
    display: inline-block;
    width:5rem;
    height:5rem;
    background-color: gold;
    border: 5px solid goldenrod;
    box-shadow: inset 5px;
}

.ai-dice{
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
    margin-left: 2rem;
    display: inline-block;
    width:5rem;
    height:5rem;
    background-color: cornflowerblue;
    border: 5px solid blue;
    box-shadow: inset 5px;
}

.player-die-container{
    display:flex;
    justify-content: center;
}

.ai-die-container{
    display:flex;
    justify-content: center;
}

.current-attacker{
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
}

.current-defender{
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
}

#play1{
    background-color: lightblue;
}
#play2{
    background-color: lightgreen;
}

.roll-dice-btn{
    margin-top: 5rem;
    font-size: 2rem;
    background-color: rgb(255, 157, 0);
}

date{
    display:block;
    background-color: darkorange;
}